<header class="header">
  <div class="header__container container">
    <a routerLink="/" class="header__logo" aria-label="Zur Startseite">
      <img src="assets/icon/ak-logo.svg" alt="AK Logo" class="header__logo-img" />
    </a>
    <nav class="header__nav">
      <div class="header__language">
        <button
          class="header__language-btn"
          [class.active]="currentLanguage() === 'en'"
          (click)="switchLanguage('en')"
          aria-label="Switch to English"
        >
          EN
        </button>
        <button
          class="header__language-btn"
          [class.active]="currentLanguage() === 'de'"
          (click)="switchLanguage('de')"
          aria-label="Zu Deutsch wechseln"
        >
          DE
        </button>
      </div>
      <div class="header__language-mobile" [class.visible]="isMenuOpen">
        <button
          class="header__language-btn"
          [class.active]="currentLanguage() === 'en'"
          (click)="switchLanguage('en')"
        >
          EN
        </button>
        <button
          class="header__language-btn"
          [class.active]="currentLanguage() === 'de'"
          (click)="switchLanguage('de')"
        >
          DE
        </button>
      </div>
      <button
        class="header__menu-btn"
        [class.open]="isMenuOpen"
        (click)="toggleMenu()"
        aria-label="Menü öffnen"
      >
        <span class="header__menu-line"></span>
        <span class="header__menu-line"></span>
        <span class="header__menu-line"></span>
      </button>
    </nav>
  </div>
</header>
<div class="mobile-nav" [class.open]="isMenuOpen">
  <nav class="mobile-nav__content">
    <a
      #aboutLink
      class="mobile-nav__link"
      href="#about"
      (touchstart)="onMobileLinkDown($event, aboutLink)"
      (touchend)="onMobileLinkUp($event, '#about')"
      >{{ texts().header.aboutLink }}</a
    >
    <a
      #skillsLink
      class="mobile-nav__link"
      href="#skills"
      (touchstart)="onMobileLinkDown($event, skillsLink)"
      (touchend)="onMobileLinkUp($event, '#skills')"
      >{{ texts().header.skillsLink }}</a
    >
    <a
      #portfolioLink
      class="mobile-nav__link"
      href="#portfolio"
      (touchstart)="onMobileLinkDown($event, portfolioLink)"
      (touchend)="onMobileLinkUp($event, '#portfolio')"
      >{{ texts().header.portfolioLink }}</a
    >
  </nav>
  <div class="mobile-nav__contact">
    <img src="assets/icon/rectangle.svg" alt="" class="mobile-nav__contact-bg" />

    <div class="mobile-nav__contact-content">
      <div class="mobile-nav__contact-left">
        <a href="#contact" class="mobile-nav__sayhi" (click)="closeMenu()">
          {{ texts().header.sayHi }}
        </a>
        <a href="mailto:contact@akin-kuelhanbey.com" class="mobile-nav__email"
          >contact&#64;akin-kuelhanbey.com</a
        >
      </div>

      <div class="mobile-nav__contact-icon">
        <a href="https://github.com/editoraky" target="_blank" class="mobile-nav__icon">
          <img src="assets/icon/github.svg" alt="GitHub" />
        </a>
        <a href="mailto:contact@akin-kuelhanbey.com" class="mobile-nav__icon">
          <img src="assets/icon/email.svg" alt="Email" />
        </a>
        <a href="https://www.linkedin.com/in/akuelhanbey/" target="_blank" class="mobile-nav__icon">
          <img src="assets/icon/linkedin-white.svg" alt="LinkedIn" />
        </a>
      </div>
    </div>
  </div>
</div>
